<ng-container [formGroup]="form">
  <td>
    <div class="position-relative">
      <input
        id="name_{{ ingredient?.id }}"
        type="text"
        class="form-control"
        formControlName="name"
        [class.is-invalid]="isInvalid('name')"
      />
      <div class="invalid-tooltip">
        @if (form.get('name')?.errors?.['required']) {
          <div>名前を入力してください。</div>
        }
        @if (form.get('name')?.errors?.['maxlength']) {
          <div>名前は30文字以内で入力してください。</div>
        }
        @for (msg of errorMessages && errorMessages['name']; track $index) {
          <div>{{ msg }}</div>
        }
      </div>
    </div>
  </td>
  <td>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="isStock"
        id="isStock_{{ ingredient?.id }}"
      />
      <label for="isStock_{{ ingredient?.id }}" class="form-check-label">ストック有無</label>
    </div>
  </td>
  <td class="text-end px-4">
    <div class="btn-group">
      <button
        class="btn btn-sm btn-outline-primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        保存
      </button>
      <button class="btn btn-sm btn-outline-secondary" (click)="cancel()">戻る</button>
    </div>
  </td>
</ng-container>
