<h2>{{ isEditMode ? 'edit' : ' create' }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- email form -->
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="text" [class.is-invalid]="isInvalid('email')" />

    @if (isInvalid('email')) {
      <div class="invalid-feedback">
        @if (form.get('email')?.hasError('required')) {
          <small>Email is required</small>
        }

        @if (form.get('email')?.hasError('email')) {
          <small>メールアドレスの形式で入力してね！</small>
        }
        @for (error of errorMessages?.['email']; track $index) {
          <div>{{ error }}</div>
        }
      </div>
    }
  </div>

  <!-- displayName form -->
  <div>
    <label for="displayName">DisplayName</label>
    <input
      id="displayName"
      formControlName="displayName"
      type="text"
      [class.is-invalid]="isInvalid('displayName')"
    />

    @if (isInvalid('displayName')) {
      <div class="invalid-feedback">
        @if (form.get('displayName')?.hasError('required')) {
          <small>DisplayName is required</small>
        }
        @if (errorMessages && errorMessages['displayName']) {
          @for (error of errorMessages['displayName'] | keyvalue; track $index) {
            <div>{{ error.value }}</div>
          }
        }
      </div>
    }
  </div>

  <!-- password form -->
  <div formGroupName="plainPassword">
    <div>
      <label for="password_first">Password</label>
      <input
        id="password_first"
        type="password"
        formControlName="first"
        [class.is-invalid]="isInvalid('plainPassword.first')"
      />
      <!-- エラー表示 (first) -->
      @if (isInvalid('plainPassword.first')) {
        <div class="invalid-feedback">
          @if (form.get('plainPassword.first')?.hasError('required')) {
            <small>パスワードは必須だよ</small>
          }
          @if (form.get('plainPassword.first')?.hasError('minlength')) {
            <small>パスワードは8文字以上で入力してね！</small>
          }
          @if (form.get('plainPassword.first')?.hasError('maxlength')) {
            <small>パスワードは17文字以下で入力してね！</small>
          }
          @for (msg of errorMessages?.['plainPassword.first']; track $index) {
            <small>{{ msg }}</small>
          }
        </div>
      }
    </div>

    <div>
      <label for="password_second">Confirm Password</label>
      <input
        id="password_second"
        type="password"
        formControlName="second"
        [class.is-invalid]="isInvalid('plainPassword')"
      />
      <!-- エラー表示 (second) -->
      @if (isInvalid('plainPassword')) {
        <div class="invalid-feedback">
          <small>パスワードが一致してないよ</small>
        </div>
      }
    </div>
  </div>

  <!-- role form -->
  <div>
    <label for="role">Role</label>
    <select id="role" formControlName="role" placeholder="" [class.is-invalid]="isInvalid('role')">
      <option [value]="null">-</option>
      @for (role of allRoles; track $index) {
        <option [value]="role">{{ role }}</option>
      }
    </select>
    @if (isInvalid('role')) {
      <div class="invalid-feedback">
        @if (form.get('role')?.getError('required')) {
          <small class="text-danger">権限を選んでね！</small>
        }
        @for (error of errorMessages?.['role']; track $index) {
          <div>{{ error }}</div>
        }
      </div>
    }
  </div>

  <button type="submit" [disabled]="isLoading || form.invalid">{{ isEditMode ? 'edit' : ' create' }}</button>
</form>
